<div class="modal fade" id="bs-curso-eliminar-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.closeCourse()"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Eliminar curso</h4>
      		</div>
    		<div class="modal-body">
    			<div class="alert alert-warning" role="alert" ng-class="$ctrl.viewMsg">
                    <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Al eliminar el curso se eliminaran todos los capitulos, temas e información referente a este.</p>
				</div>
                <p>Esta seguro de eliminar el curso?</p>
    		</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.closeCourse()">Cerrar</button>
        		<button type="button" class="btn btn-danger" ng-class="$ctrl.viewForm" data-dismiss="modal" ng-click="$ctrl.deleteCourse()" ng-disabled="form_theme.$invalid">Eliminar</button>
    		</div>
    	</div>
	</div>
</div>