<div class="jumbotron">
	<h1>Bienvenido!!</h1>
	<p>Cualquier duda sobre el sistema de administración puede ponerse en contacto con el equipo de codeando por cualquiera de los siguientes medios...</p>
	<p><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Email: admin@codeando.org</p>
	<p><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Twitter: <a href="http://tiwtter.com/codeando_org" target="_blank">@codeando_org</a></p>
	<p><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Twitter: <a href="http://tiwtter.com/paulo_866" target="_blank">@paulo_866</a></p>
</div>