/*
* Hoja de estilos de la APP
*/

/********************************************
Opciones generales
********************************************/

*
{
	margin: 0;
	padding: 0;
}
html
{
	height: 101%;
}
body
{
	background-color: #f0f0f0;
	color: #333;
	font-family: verdana;
	font-size: 16px;
}
option
{
	padding: 10px 5px;
}
option:hover
{
	background-color: #337AB7;
	cursor: pointer;
}

.error
{
	background-color: #F37A43;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	left: 0;
	padding: 10px 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	transform: translatey(-60px);
	transition: all 0.25s ease;
	z-index: 999;
}

.oculto
{
	display: none;
}

.success
{
	background-color: green;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	transform: translatey(-60px);
	.margin-top: -60px;
	transition-duration: .25s;
	z-index: 999;
}

/********************************************
Opciones para iconos como botones
********************************************/

.function
{
	cursor: pointer;
}
.function:hover
{
	opacity: 0.7;
}
.function:active
{
	transition-duration: .5s;
	transform: scale(1.5);
}

/********************************************
Opciones para el contador en formularios
********************************************/

.count
{
	background: #1F6177;
	color: #fff;
	padding: 5px;
}