<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Cursos</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="/courses">Cursos</a></li>
			<li role="presentation"><a href="/courses/new">Nuevo</a></li>
			<li role="presentation" class="active"><a href="#">Preview</a></li>
		</ul>
		<br/>
		<div class="alert alert-info" role="alert">
			<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> En esta sección usted podra previsualizar el curso "{{ $ctrl.titulo }}".</p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xl-12">
					<div class="panel panel-default">
					  	<div class="panel-heading">Capitulos</div>
					  	<div class="panel-body">
					  		<p>
					  			<button type="button" class="btn btn-success btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-capitulo-nuevo-modal-lg" data-id="{{ $ctrl.param }}">
					  				<span class="glyphicon glyphicon-new-window"></span> Nuevo capitulo
					  			</button>
					  		</p>
					    	<div class="list-group" ng-class="$ctrl.viewList">
		  						<a ng-repeat="chapter in $ctrl.chapters | orderBy:'orden':false" href="#" class="list-group-item list-group-item-default">
		  							{{ chapter.titulo }}<span class="badge">0</span>
		  							<p class="text-right">
		  								<button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.previewTheme(chapter._id)">
							  				<span class="glyphicon glyphicon-cog"></span> preview
							  			</button>
		  								<button type="button" class="btn btn-warning btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-capitulo-editar-modal-lg" data-id="{{ chapter._id }}">
							  				<span class="glyphicon glyphicon-pencil"></span> Editar
							  			</button>
							  			<button type="button" class="btn btn-danger btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-capitulo-eliminar-modal-lg" data-id="{{ chapter._id }}">
							  				<span class="glyphicon glyphicon-trash"></span> Eliminar
							  			</button>
		  							</p>
		  						</a>
		  					</div>	
		  					<div class="alert alert-warning" role="alert" ng-class="$ctrl.viewMsg">
								<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Lo sentimos aun no tiene capitulos en este curso.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xl-12">
					<div class="panel panel-default">
					  	<div class="panel-heading">Temas</div>
					  	<div class="panel-body" ng-class="$ctrl.viewListTheme">
					  		<p>
						  		<button type="button" class="btn btn-success btn-xs">
					  				<span class="glyphicon glyphicon-new-window"></span> Nuevo tema
					  			</button>
				  			</p>
					    	<div class="list-group">
		  						<a ng-repeat="theme in $ctrl.themes | orderBy:'orden':false" href="#" class="list-group-item list-group-item-default">
		  							{{ theme.titulo }}<span class="badge">14</span>
		  							<p class="text-right">
		  								<button type="button" class="btn btn-default btn-xs">
							  				<span class="glyphicon glyphicon-cog"></span> preview
							  			</button>
		  								<button type="button" class="btn btn-warning btn-xs">
							  				<span class="glyphicon glyphicon-pencil"></span> Editar
							  			</button>
							  			<button type="button" class="btn btn-danger btn-xs">
							  				<span class="glyphicon glyphicon-trash"></span> Eliminar
							  			</button>
		  							</p>
		  						</a>
		  					</div>
		  					<div class="alert alert-info" role="alert" ng-class="$ctrl.viewMsg2Theme">
								<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Lo sentimos aun no tiene temas en este capitulo.</p>
							</div>	
						</div>
						<div class="panel-body" ng-class="$ctrl.viewMsgTheme">
							<div class="alert alert-info" role="alert">
								<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Debes seleccionar un capitulo del lado izquierdo.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<curso-preview-nuevo-capitulo></curso-preview-nuevo-capitulo>
<curso-preview-eliminar-capitulo></curso-preview-eliminar-capitulo>
<curso-preview-editar-capitulo></curso-preview-editar-capitulo>