<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Categorias</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="/categories">Categorias</a></li>
			<li role="presentation" class="active"><a href="#">Nueva</a></li>
		</ul>
		<br/>
		<div class="alert alert-info" role="alert">
			<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> En esta sección usted podra crear una categoria para la plataforma codeando</p>
		</div>
	</div>
</div>