<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Cursos</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#">Cursos</a></li>
			<li role="presentation"><a href="/courses/new">Nuevo</a></li>
		</ul>
		<br/>
		<div class="alert alert-info" role="alert">
			<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> En esta sección se muestran los cursos de su propiedad</p>
		</div>
		<div class="panel panel-default" ng-class="$ctrl.viewCourse">
			<!-- Default panel contents -->
			<div class="panel-heading text-center">Cursos disponibles</div>
			<!-- Table -->
			<table class="table">
				<thead>
					<tr><th>Titulo</th><th>Opciones</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="course in $ctrl.courses | orderBy:'titulo':false">
						<td>{{ course.titulo }}</td>
						<td>
							<button type="button" class="btn btn-default btn-xs" aria-haspopup="true" aria-expanded="false" ng-click="$ctrl.previewCourse(course._id)">
								<span class="glyphicon glyphicon-cog"></span> PreView
							</button>
							<button type="button" class="btn btn-default btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-mensaje-modal-lg" data-id="{{ course._id }}">
								<span class="glyphicon glyphicon-envelope"></span> Mensajes
							</button>
							<button type="button" class="btn btn-success btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-publicar-modal-lg" data-id="{{ course._id }}">
								<span class="glyphicon glyphicon-cloud-upload"></span> Publicar
							</button>
							<button type="button" class="btn btn-default btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-estadistica-modal-lg" data-id="{{ course._id }}">
								<span class="glyphicon glyphicon-stats"></span> Estadisticas
							</button>
							<button type="button" class="btn btn-warning btn-xs" aria-haspopup="true" aria-expanded="false" ng-click="$ctrl.editCourse(course._id)">
								<span class="glyphicon glyphicon-pencil"></span> Editar
							</button>
							<button type="button" class="btn btn-danger btn-xs" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#bs-curso-eliminar-modal-lg" data-id="{{ course._id }}">
								<span class="glyphicon glyphicon-trash"></span> Eliminar
							</button>
  						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="alert alert-warning" role="alert" ng-class="$ctrl.viewMsg">
			<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Lo sentimos aun no tiene cursos, puede crear un curso ahora mismo.</p>
		</div>
	</div>
</div>

<curso-modal-publicar></curso-modal-publicar>
<curso-modal-mensaje></curso-modal-mensaje>
<curso-modal-estadistica></curso-modal-estadistica>
<curso-modal-eliminar></curso-modal-eliminar>