<div class="modal fade" id="bs-publicar-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Publicar su curso</h4>
      		</div>
    		<div class="modal-body">
    			<div class="alert alert-info" role="alert">
					<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Antes de que su curso sea publicado, sera revisado por el equipo de codeando, este proceso puede durar de 3 a 5 dias, mientras dure el proceso su curso no podra ser modificado.</p>
				</div>
				<h5>Consideraciones a tomar en cuenta.-</h5>
				<ul class="list-group">
					<li class="list-group-item"><p>Debe tener un minimo de 3 capitulos.</p></li>
					<li class="list-group-item"><p>Debe tener un minimo de 10 temas.</p></li>
					<li class="list-group-item"><p>Cada tema debe cumplir con su respectiva documentación.</p></li>
				</ul>
				<p>Cualquier duda puede ponerse en contacto con el equipo de codeando</p>
    		</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="$ctrl.setPublic()">Publicar</button>
    		</div>
    	</div>
	</div>
</div>