<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cursos</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/courses">Cursos</a></li>
            <li role="presentation"><a href="/courses/new">Nuevo</a></li>
            <li role="presentation"><a href="/courses/preview/{{ $ctrl.curso }}">Preview</a></li>
            <li role="presentation" class="active"><a href="#">Tema</a></li>
        </ul>
        <br>
        <div class="alert alert-info" role="alert">
            <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> En esta sección podrá modificar el contenido del tema "{{ $ctrl.themeTitle }}", sea claro y conciso.</p>
        </div>
        <form id="form_theme" validate>
            <div class="form-group">
                <label>Información sobre el tema:</label>
                <div class="toolbox">
                    <span ng-click="$ctrl.toolbox(1, 'formInfo')" style="float:none;" title="Insertar código"><strong>&lt;</strong> CODE <strong>&gt;</strong></span>
                    <span ng-click="$ctrl.toolbox(2, 'formInfo')" title="Negrita" style="float:none;"><strong>B</strong></span>
                    <span ng-click="$ctrl.toolbox(3, 'formInfo')" title="Cursiva" style="float:none;"><i>I</i></span>
                    <span ng-click="$ctrl.toolbox(4, 'formInfo')" title="Subrayado" style="float:none;"><u>U</u></span>
                    <span ng-click="$ctrl.toolbox(5, 'formInfo')" title="Tachado" style="float:none;"><strike>S</strike></span>
                </div>
                <textarea id="formInfo" placeholder="Ingresa aqui la información" class="form-control" rows="8" ng-model="form.info" name="info"></textarea>
            </div>
            <div class="form-group">
                <label>Documentación sobre el tema:</label>
                <div class="toolbox">
                    <span ng-click="$ctrl.toolbox(1, 'formDoc')" style="float:none;" title="Insertar código"><strong>&lt;</strong> CODE <strong>&gt;</strong></span>
                    <span ng-click="$ctrl.toolbox(2, 'formDoc')" title="Negrita" style="float:none;"><strong>B</strong></span>
                    <span ng-click="$ctrl.toolbox(3, 'formDoc')" title="Cursiva" style="float:none;"><i>I</i></span>
                    <span ng-click="$ctrl.toolbox(4, 'formDoc')" title="Subrayado" style="float:none;"><u>U</u></span>
                    <span ng-click="$ctrl.toolbox(5, 'formDoc')" title="Tachado" style="float:none;"><strike>S</strike></span>
                </div>
                <textarea id="formDoc" placeholder="Ingresa aqui la información" class="form-control" rows="8" ng-model="form.doc" name="doc"></textarea>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Video</span>
                <input type="text" id="formVid" ng-model="form.vid" name="vid" class="form-control" placeholder="Ingrese la url del video de youtube"aria-describedby="basic-addon1" ng-required="$ctrl.formConfig.required">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Github</span>
                <input type="text" id="formGit" ng-model="form.git" name="git" class="form-control" placeholder="Ingrese la url del repositorio" aria-describedby="basic-addon1" ng-required="$ctrl.formConfig.required">
            </div>
            <div class="text-right">
                <br>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="$ctrl.setTheme(form)" ng-disabled="form_theme.$invalid">Guardar</button>
            </div>
        <form/>
    </div>
</div>