<div class="modal fade" id="bs-mensaje-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Mensajes del equipo codeando</h4>
      		</div>
    		<div class="modal-body">
    			<div class="alert alert-info" role="alert">
					<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Cualquier duda con alguno de los mensajes, favor de ponerse en contacto con el equipo de codeando.</p>
				</div>
				<div class="alert alert-warning" role="alert">
					<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> Su curso no tiene ningun mensaje.</p>
				</div>
    		</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    		</div>
    	</div>
	</div>
</div>