<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Seleccione una opcion</h3>
	</div>
	<div class="panel-body">
		<div class="list-group">
			<a href="/" class="list-group-item item" ng-class="$ctrl.inicio" ng-click="$ctrl.change(0)">Inicio</a>
			<a href="/courses" class="list-group-item item" ng-class="$ctrl.cursos" ng-click="$ctrl.change(1)">Cursos</a>
			<a href="/categories" class="list-group-item item" ng-class="$ctrl.categorias" ng-click="$ctrl.change(2)">Categorias</a>
		</div>
	</div>
</div>