<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Seleccione una opcion</h3>
	</div>
	<div class="panel-body">
		<div class="list-group" ng-class="$ctrl.admin">
			<a href="/init" class="list-group-item item" ng-class="$ctrl.inicio" ng-click="$ctrl.change(0)">Inicio</a>
			<a href="/courses" class="list-group-item item" ng-class="$ctrl.cursos" ng-click="$ctrl.change(1)">Cursos</a>
			<a href="/categories" class="list-group-item item" ng-class="$ctrl.categorias" ng-click="$ctrl.change(2)">Categorias</a>
			<a href="/admin" class="list-group-item item" ng-class="$ctrl.admin" ng-click="$ctrl.change(3)">Administradores</a>
		</div>

		<div class="list-group" ng-class="$ctrl.user">
			<a href="/init" class="list-group-item item" ng-class="$ctrl.inicio" ng-click="$ctrl.change(0)">Inicio</a>
			<a href="/courses" class="list-group-item item" ng-class="$ctrl.cursos" ng-click="$ctrl.change(1)">Cursos</a>
		</div>
	</div>
</div>